<%- include('header') -%>
<div class="row">
    <div class="col-md-12">
        <h1>Hello to my app</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Nice to see you!</p>
    </div>
    <div class="col-md-6">
        <a href="/endpoint">Click this link to go to endpoint</a>
    </div>
</div>
<%- include('footer') -%>